#search_container {
  // display: flex;
  height: 100%;
}

#search_inputs {
  width: 100%;
  margin: 0 auto;
}

#search_inputs> div {
  margin: 1vh 0;
}

.slider {
  width: 60%;
  margin: 0 auto;
}

.price-container {
  margin: 0 auto;
  div {
    display: flex;
    .text-field {
      margin: 0 5%;
    }
  }
}

// #search_filtersbar {
//   padding-top: 10vh;
//   height: 100%;
//   background-color: grey;
//   width: 6.5vw;
//   box-shadow: 0px 5px 3px #545454;
//   margin-right: 2vh
// }

.filters-enter {
  opacity: 0.01;
}

.filters-enter.filters-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.filters-leave {
  opacity: 1;
}

.filters-leave.filters-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}