#search_container {
  display: flex;
  height: 100%;
}

#search_inputs {
  width: 100%;
  margin: 0 auto;
  justify-content: left;
}

#search_inputs> div {
  margin: 1vh 0;
}

.slider {
  width: 60%;
  margin: 0 auto;
}

.map {
  height: 300px;
  display: flex;
}

.price-container {
  margin: 0 auto;
  div {
    display: flex;
    .text-field {
      margin: 0 5%;
    }
  }
}

#search_filtersbar {
  height: 100%;
  background-color: grey;
  width: 50px;
}