.search-container {
  width: 300px;
  margin: 0 auto;
}

.slider {
  width: 60%;
  margin: 0 auto;
}

.map {
  height: 300px;
  display: flex;
}

.radius-range {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.price-container {
  margin: 0 auto;
  div {
    display: flex;
    .text-field {
      margin: 0 5%;
    }
  }
}
